/* Style sheet for Scholars SGC web page */

/* General instructions for font, color, and background image */
body {
	font-family: Ariel, Futura, Verdana;
	color: #FF0000;
	margin: 10px;
	background-image: url("images/2021_38_001_HERO_0.jpg");
    /* Source:
     * Smithsonian National Museum of African American History & Culture 
     */
}

/* General selector values */

/* Paragraph break height */
p {
	line-height: 1.4em;
}


/* Heading fonts and formats */
h2 {
	font-family: Skia, Futura, Verdana, Ariel;
	color: white;
    text-shadow: 2px 2px 0px black;
	font-size: 2em;
	margin: 0;
	padding: 0.1em;
	padding-left: 1em;
	text-align: center;
	font-weight: plain;
}

h3 {
	font-family: Skia, Futura, Verdana, Ariel;
	color: red;
	margin: 0;
    text-shadow: 2px 2px 0px black;
}

h6 {
	font-family: Skia, Futura, Verdana, Ariel;
	color: #344152;
	font-size: 0.75em;
	margin: 0;
	padding: 0.1em;
	padding-left: 1em;
	text-align: center;
	font-weight: plain;
}

/* List formats */
ul {
	color: white;
    text-shadow: 2px 2px 0px black;
}

/* Margins and alignment for images in the content division */
#content img {
			padding: 1px;
			/* float: right; */
			margin: 0 0 1em 1em;
		}
a {
	text-decoration: none;
}

/* Colors for linked text, before and after being clicked */
a:link {
	color: palegreen;
}

a:visited {
	color: green;
}


/* Page Layout */

#header {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	}

#content {
	margin-top: 10px;
	color: white;
    float:left;
}

/* Layout for divisions containing images and their captions */
#picture {
	padding: 1px;
	float: right;
	text-align: center;
	font-size: 8pt;
	margin: 0 0 1em 1em;
	color: white;
    text-shadow: 2px 2px 0px black;
}

#center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

/* https://www.w3schools.com/howto/howto_css_images_side_by_side.asp */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

pic {
	padding: 1px;
	float: right;
	text-align: center;
	font-size: 8pt;
	margin: 0 0 1em 1em;
	color: black;
}

/* Layout for alignment of footer */
#footer {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}


#footer img {
	padding: 10px;
}
